body {
    font-family: Montserrat, sans-serif;
}

.navbar,
footer {
    background-color: #1D1D1D;
}

.navbar .container img {
    opacity: 0.9
}

#cabecalho .nav .nav-link.active {
    background-color: #FFC001;
    color: #1D1D1D;
    font-weight: bold;
}

.btn-group .input {
    background-color: #1D1D1D;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover,
footer {
    color: #fff;
}

.navbar-toggler {
    background-color: #ffeae6;
}

.section-title {
    font-family: Montserrat, sans-serif;
}

#sobre-o-restaurante,
#cardapio {
    background-color: #ffeae6;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}